//Google fonts
@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);
@import url(https://fonts.googleapis.com/css?family=Merriweather&display=swap);
//fonts
$headersFont: 'Montserrat', serif;
$textFont: 'Merriweather', serif;
$mainFontColor: white;
//bg color
$mainBgColor: #0b151f;
//hover btns, active
$activeColor: #56bd9c;

